{% extends "base.html" %}
{% block title %}Create{% endblock %}
{% block content %}
    <h1>Create goal</h1>
    <form action="{% url "goal_create" %}" method="post">
        {% csrf_token %}

        <label>Describe:</label><br/>
        <input type="text" name="describe"/><br/>

        <label>Detail:</label><br/>
        <textarea name="detail"></textarea><br/>


        <label>Date of execution:</label><br/>
        <input type='text' name="execute_at"/><br/>

        <label for="id-status">Status:</label> <select name="status" id="id-status">

        {% for value, label in status_choices %}
            <option value="{{ value }}">{{ label }}</option>
        {% endfor %}

        </select><br/>
        <br/>
        <input type="submit" value="Send"/>
    </form>
{% endblock %}
