body {
    font-family: Arial, sans-serif;
    background-color: lightgreen;
}
.container{
    margin: 0 auto;
    max-width: 900px;
}
.form {
    line-height: 40px;
}
.headline {
    text-align: center;
}
